<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sirius_mid_description">

    <!-- Constants for robot dimensions -->
    <xacro:property name="stick_mass" value="0.00001"/>

    <!-- simplified collision value -->
    <xacro:property name="trunk_width" value="0.25"/>
    <xacro:property name="trunk_length" value="0.55"/>
    <xacro:property name="trunk_height" value="0.15"/>
    <xacro:property name="hip_radius" value="0.046"/>
    <xacro:property name="hip_length" value="0.095"/>
    <xacro:property name="thigh_shoulder_radius" value="0.041"/>
    <xacro:property name="thigh_shoulder_length" value="0.04"/>
    <xacro:property name="thigh_shoulder_y_offset" value="-0.000"/>

    <xacro:property name="thigh_width" value="0.04"/>
    <xacro:property name="thigh_height" value="0.075"/>
    <xacro:property name="thigh_x_offset" value="0"/>
    <xacro:property name="calf_width" value="0.016"/>
    <xacro:property name="calf_height" value="0.032"/>
    <xacro:property name="calf_x_offset" value="0"/>
    <xacro:property name="foot_radius" value="0.001"/>

    <!-- kinematic value -->
    <xacro:property name="thigh_offset" value="0.095"/>
    <xacro:property name="thigh_length" value="0.27"/>
    <xacro:property name="calf_length" value="0.27"/>

    <!-- leg offset from trunk center value -->
    <xacro:property name="leg_offset_x" value="0.298"/>
    <xacro:property name="leg_offset_y" value="0.06"/>
    <!-- unused parameters-->
    <xacro:property name="trunk_offset_z" value="0.01675"/>
    <xacro:property name="hip_thigh_offset" value="0.0"/>

    <!-- joint limits -->
    <xacro:property name="damping" value="0.0"/>
    <xacro:property name="friction" value="0.0"/>
    <xacro:property name="hip_max" value="${45*pi/180.0}"/>
    <xacro:property name="hip_min" value="${-45*pi/180.0}"/>
    <xacro:property name="hip_velocity_max" value="45"/>
    <xacro:property name="hip_torque_max" value="45"/>
    <xacro:property name="thigh_max" value="${100*pi/180.0}"/>
    <xacro:property name="thigh_min" value="${-50*pi/180.0}"/>
    <xacro:property name="thigh_velocity_max" value="45"/>
    <xacro:property name="thigh_torque_max" value="45"/>
    <xacro:property name="calf_max" value="${-10*pi/180.0}"/>
    <xacro:property name="calf_min" value="${-180*pi/180.0}"/>
    <xacro:property name="calf_velocity_max" value="45"/>
    <xacro:property name="calf_torque_max" value="75"/>

    <!-- dynamics inertial value -->
    <!-- trunk -->
    <xacro:property name="trunk_mass" value="15.1"/>
    <xacro:property name="trunk_com_x" value="0.0000"/>
    <xacro:property name="trunk_com_y" value="0.0"/>
    <xacro:property name="trunk_com_z" value="0.0"/>
    <xacro:property name="trunk_ixx" value="0.1489"/>
    <xacro:property name="trunk_ixy" value="-4.507E-04"/>
    <xacro:property name="trunk_ixz" value="-2.512E-03"/>
    <xacro:property name="trunk_iyy" value="1.21"/>
    <xacro:property name="trunk_iyz" value="-4.048E-4"/>
    <xacro:property name="trunk_izz" value="1.297"/>

    <!-- hip (left front) -->
    <xacro:property name="hip_mass" value=" 1.885135"/>
    <xacro:property name="hip_com_x" value="0.048867"/>
    <xacro:property name="hip_com_y" value="-0.005327"/>
    <xacro:property name="hip_com_z" value="-0.022934"/>
    <xacro:property name="hip_ixx" value="0.00405"/>
    <xacro:property name="hip_ixy" value="0.00013981"/>
    <xacro:property name="hip_ixz" value="-6.0634E-10"/>
    <xacro:property name="hip_iyy" value="0.0027219"/>
    <xacro:property name="hip_iyz" value="1.3389E-10"/>
    <xacro:property name="hip_izz" value="0.0041682"/>

    <!-- thigh -->
    <xacro:property name="thigh_mass" value="0.72141"/>
    <xacro:property name="thigh_com_x" value="-0.011613"/>
    <xacro:property name="thigh_com_y" value="-0.0040791"/>
    <xacro:property name="thigh_com_z" value="-0.10763"/>
    <xacro:property name="thigh_ixx" value="0.0085504"/>
    <xacro:property name="thigh_ixy" value="7.278E-06"/>
    <xacro:property name="thigh_ixz" value="-0.00037392"/>
    <xacro:property name="thigh_iyy" value="0.0089083"/>
    <xacro:property name="thigh_iyz" value="0.00014545"/>
    <xacro:property name="thigh_izz" value="0.00068236"/>

    <!-- calf -->
    <xacro:property name="calf_mass" value="0.16924"/>
    <xacro:property name="calf_com_x" value="0.0078873"/>
    <xacro:property name="calf_com_y" value="-1.6361E-05"/>
    <xacro:property name="calf_com_z" value="-0.1412"/>
    <xacro:property name="calf_ixx" value="0.0015333"/>
    <xacro:property name="calf_ixy" value="7.991E-09"/>
    <xacro:property name="calf_ixz" value="0.00014991"/>
    <xacro:property name="calf_iyy" value="0.0015584"/>
    <xacro:property name="calf_iyz" value="-7.0566E-09"/>
    <xacro:property name="calf_izz" value="4.8512E-05"/>

    <!-- foot -->
    <xacro:property name="foot_mass" value="0.06"/>

    <!-- 3D lidar -->
    <xacro:property name="lidar_com_x" value="0.0"/>
    <xacro:property name="lidar_com_y" value="0.0"/>
    <xacro:property name="lidar_com_z" value="0.1"/>
</robot>
