<?xml version="1.0" ?>

<launch>
    <arg name="robot_type" default="go1" doc="Robot type: [go1, sirius_mini, sirius_mid, sirius_belet, sirius_plus]"/>
    <arg name="cheater" default="false"/>
    <arg name="use_js" default="true"/>
    <arg name="rviz" default="false"/>
    <arg name="description_name" default="go1_description"/>


    <arg name="urdf_file" default="/home/xuanqi/sirius_mini.urdf"/>
    <!-- make the files into global parameters -->
    <param name="urdfFile" value="/home/xuanqi/sirius_mini.urdf"/>
    <param name="taskFile" value="$(find legged_controllers)/config/$(arg robot_type)/task.info"/>
    <param name="referenceFile" value="$(find legged_controllers)/config/$(arg robot_type)/reference.info"/>
    <param name="gaitCommandFile" value="$(find legged_controllers)/config/$(arg robot_type)/gait.info"/>

    <rosparam file="$(find legged_controllers)/config/controllers.yaml" command="load"/>

    <node if="$(arg cheater)" name="controller_loader" pkg="controller_manager" type="controller_manager"
          output="screen" args="load
          controllers/joint_state_controller
          controllers/legged_controller
          controllers/legged_cheater_controller
"/>

    <node unless="$(arg cheater)" name="controller_manager" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" args="
          controllers/joint_state_controller
          controllers/legged_controller
"/>


   <node pkg="ocs2_legged_robot_ros" type="legged_robot_target" name="legged_robot_target"
          output="screen" launch-prefix="gnome-terminal --"/>     

    <node pkg="ocs2_legged_robot_ros" type="legged_robot_gait_command" name="legged_robot_gait_command"
          output="screen" launch-prefix="gnome-terminal --tab -t gait --  "/>

    <group if="$(arg use_js)">
            <include file="$(find legged_controllers)/launch/joy_teleop.launch"/>
    </group>


    <group if="$(arg rviz)">
      <param name="$(arg description_name)" textfile="$(arg urdf_file)"/>
      <arg name="rvizconfig" default="$(find legged_controllers)/launch/legged_robot.rviz" />
      <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizconfig)" output="screen" />
    </group>

</launch>
